﻿.table
{   
    margin-top:10px;
    margin-right:30px;
    margin-left:30px;
    background-color:White;
    margin-bottom:0px;
}

.cell
{
    line-height:30px;
    background-color:#F6F6F6;    
}

.col1
{
    text-align:left;
    width:50%;
    background-color:White;
}

.col2
{
    text-align:right;
    width:50%;    
}

.cell > a
{
    text-decoration: none; 
    font-family:Roboto;
    font-size:22px;
    font-weight: normal;
    color: #181818;
    padding:20px;            
}


#CalculatorTitle
{
    background-color: #2CE2D2; 
    text-align:center;  
}

#CalculatorTitle > span
{
    font-family:Roboto;
    font-size:22px;
    font-weight:lighter;
    color:#181818;       
    width:100%;
}

#CalculatorWrapper
{
    background-color: #F6F6F6;
}

.InputFields
{
    width:65%;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:15px;      
    
}

.InputCategory
{
    color:#1d8a86;
    font-family:Roboto;
    font-size:16px;
    font-weight:normal;
    background-color:White;  
}

table > thead > tr > td,tbody > tr > th
{
    color: #1d8a86;
    font-family:Roboto;
    font-weight:bold;
    font-size: 12px;    
    text-align:center;
}

table  ,table > tbody
{
    border:1px solid #D1D1D1;
    border-collapse:collapse;        
}

tr,tbody > tr
{
    border-top: 1px solid #D1D1D1;        
}

td,tbody > td
{
    border-left: 1px solid #D1D1D1;    
}

tr + tr,tbody > tr + tr
{
    border-top: 1px solid #EEEEEE;   
}

td+td,tbody > td + td
{
    border-left: 1px solid #EEEEEE;    
}

table
{
    margin-bottom:20px;
    margin-left:auto;
    margin-right:auto;
    table-layout:fixed;
    width:85%;  
    margin-top:15px; 
}

table td
{
    color: #242424;
    font-family:Roboto;
    font-size:11px;
    font-weight:normal;
    font-style:normal;    
    border-collapse:collapse;    
    margin:0px;
    border-spacing:0px;
    font-weight:normal; 
}

table > thead > tr > td,tbody > tr >th
{
    background-image: url('../images/Calculators/TheadBG.png');
    background-repeat:repeat-x;    
    
}

.table > .row > .cell
{
    background-color:White;    
}

.table > .row > .cell > span
{
    color:#242424;
    font-family:Roboto;
    font-size:14px;
    font-weight:normal;
    background-color:White;     
}

.CalculatorContent
{
    background-color:White;
    margin-left:30px;
    margin-right:30px;
    padding-bottom:15px; 
}

.CalculatorContent > #Tabs
{
    background-color: #F6F6F6;
    margin-left:0px;
    margin-right:0px;
    width:100%;
}

.CalculatorContent > #Tabs > .inactive
{
    moz-box-shadow:  inset 0px -10px 5px -11px rgba(0,0,0,0.65);
    -webkit-box-shadow:  inset 0px -10px 5px -11px rgba(0,0,0,0.65);
    -o-box-shadow:  inset 0px -10px 5px -11px rgba(0,0,0,0.65);
    box-shadow: inset 0px -10px 5px -11px rgba(0,0,0,0.65);
    text-align:center;
    
}


.active
{
    background-color:White;
    border-top: 3px solid #242424;   
    -webkit-box-shadow: -9px 0px 6px -6px rgba(217,215,215,0.52);
    -moz-box-shadow: -9px 0px 6px -6px rgba(217,215,215,0.52);
    box-shadow: -9px 0px 6px -6px rgba(217,215,215,0.52);
    text-align:center;
}

.Inputs,.Results,.Help,.Chart,.Tables
{
    background-color:White;
    margin-right:30px;
    margin-left:30px; 
    margin-top:0px;
}

.LabelError
{
    color: Red;    
}

.isa_error span
{
    text-align:center;
    font-weight:bolder;    
}

.isa_error{
    font-family: FontAwesome;
    margin-right: 16px;
    background-color: #EF4D4E;
    color: white;    
    padding: 12px;
    margin-right:auto;
    margin-left:auto;
    margin-bottom:29px;
    margin-top:10px;
    width:75%;
}


.Button
{
    color:White;
    background-color: #75B98D;    
    border-bottom: 5px solid #609F7B;  
    border-left:none;
    border-right:none;
    border-top:none;
    cursor:pointer;
    font-family:Titillium Web;
    font-size:large;
    font-weight:bolder;
    margin-right:auto;
    margin-left:auto;
    display:block; 
    margin-bottom:10px;
}

#Note,#GraphTitle,#TableTitle
{
    width:85%;
    margin-right:auto;
    margin-left:auto;   
    font-family:Roboto;
    font-size:14px;
    font-weight:normal;
    text-align:justify;
    margin-top:15px; 
    margin-bottom:15px;
}

#GraphFooter > p
{
    font-family:Roboto;
    font-size:14px;
    font-weight:normal;
    text-align:justify;
    width:85%;
    margin-right:auto;
    margin-left:auto;
}

.HelpIcon {
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.Help
{
    margin-left:auto;
    margin-right:auto;
    width:85%;         
}

.helpText
{
    font-family: Roboto;
    font-size:14px;
    font-weight:normal;
    text-align:justify;
   
}


#TheGraph
{
    margin-right:auto;
    margin-left:auto;
    width:85%;    
}

#GraphTitle,#TableTitle,#ResultsTitle
{
     text-align:center;       
}

#ResultsTitle{ margin-top:10px; }

#monthlyPayment
{
    width:40%;    
}

input[type=text] 
{
    padding-top:0px;
    padding-bottom:0px;
    padding-left:4px;
    padding-right:4px;    
    border:1px solid #DBDBDB; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-family: Titillium Web;
    font-size:14px;
    font-weight:normal;
    color:#242424;
}


html
{
    padding:0;
    margin:0;    
}

body
{
   padding:0;
   margin:0;
}

#CalculatorWrapper::-webkit-scrollbar-thumb{
background-color:#646566;
border-radius:10px;
}
#CalculatorWrapper::-webkit-scrollbar-thumb:hover{
background-color:#646566;
border:1px solid #646566;
}
#CalculatorWrapper::-webkit-scrollbar-thumb:active{
background-color:#646566;
border:1px solid #646566;
} 






