﻿.table
{
    display:table; 
    table-layout:fixed; 
}

.cell
{
    display: table-cell;    
    line-height:15px;
    margin:0;
}

.row
{
    display: table-row;
    width:100%;  
}


.footer
{
    display:table-footer-group;        
}

.caption
{
    display:table-caption;    
}

#Main
{
    background-color: #2CE2d2;
    width:80%;
    margin-left:auto;
    margin-right:auto; 
    padding:0;
    /*height:90px;*/
    border-color:#9FA1A4;
    border-style:solid;
    border-top-width:medium;
    border-left-width:medium;
    border-right-width:medium;
    border-top-right-radius:15px;
    -moz-border-radius-topright:15px;
     border-top-left-radius:15px;
    -moz-border-radius-topleft:15px;
}

#Icon
{
    /*background-color: #2CE2D2;*/
    width:26%;
    color: #262626;  
    padding-top:auto; padding-bottom:auto;
    padding-left:1%;
    padding-right:5px;    
    font-size: 27px;
    font-family:cafeta;  
    height:100%;
    float:left;
    border-top-left-radius:11px;
    -moz-border-radius-topleft:11px;    
}

#Icon > img
{
   position:relative;
   top:17px;
   left:10px; 
}

#Icon > span
{   
    position:relative;
    top:3px;
    left:25px;
    margin-right:15px;    
    text-align:justify;
}

#Title
{
    background-color: #E9EBEE;
    width:67%; height:100%;
    text-align:justify;
    font-weight:bolder;
    padding:0px;
    padding-top:0px;
    font-family:Roboto;
    font-style:normal;
    font-weight:normal;
    font-size:11.5pt;
    color: #262626;
    float:right;    
    border-top-right-radius:11px;
    -moz-border-radius-topright:11px;
    padding-right:2%;
    padding-left:2%;
    text-overflow:ellipsis;
    padding-bottom:10px;
    
 
}

#Title > span
{
    position:relative;
    top:10px;
}

.Clear
{
    clear:both;
    padding:0px;
    margin:0px; 
}


#Content
{
    margin-left:auto;
    margin-right:auto;
    width:80%;
    font-family:Roboto;
    font-size:15px;
    font-weight:normal;
    color: #7e7b7b;
    cursor:pointer;
    border-bottom-right-radius:15px;
    -moz-border-radius-bottomright:15px;
    border-bottom-left-radius:15px;
    -moz-border-radius-bottomleft:15px;
    border-right-color:#9FA1A4;
    border-right-style:solid;
    border-right-width:medium;
    border-left-color:#9FA1A4;
    border-left-style:solid;
    border-left-width:medium;    
    border-bottom-color:#9FA1A4;
    border-bottom-style:solid;
    border-bottom-width:medium;
    padding:0px;
}

#calcList1
{
    width:50%;
    float:left;
}

#calcList2
{
    width:50%;
    float:right;    
}

#Content li:hover
{
    color: #00ada5;
    margin-bottom:15px;
}

#Content li
{
    margin-bottom:15px;
}

ul.calculatorlist
{
    list-style-image: url('../Images/Calculators/bullet.png');  
}

.overlay {
    
    display:none;
   
    z-index:10000;
  
    background-color:#f6f6f6;
 
    width:60%;
    min-height:496px;
    border:2px solid #ADADAD;
    padding:0;
     
    -moz-box-shadpxow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
}
 
.overlay .close {
    background-image:url(../images/close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
    background-repeat:no-repeat;
}

iframe
{
    border:0; 
    margin:0; 
    padding:0;
    width:100%;
    height:496px;
}

